<a href="https://colab.research.google.com/github/filippeviana/ci-ncia-de-dados/blob/main/Mod07_Tarefa_salve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('demo01.csv')
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [ ]:
df.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [ ]:
df.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [ ]:
df.mau.value_counts()

mau
False    16260
True       390
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [ ]:
qtd_categorias=[]
for coluna in df.columns:
    qtd_categorias.append(df[coluna].nunique())

In [ ]:
qtd_categorias

[2, 2, 2, 8, 5, 5, 5, 6, 5298, 3005, 1, 2, 2, 2, 9, 2]

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [ ]:
df_copia= df.copy()

In [ ]:
df_copia.columns

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'],
      dtype='object')

In [ ]:
renda =  pd.get_dummies(df_copia['tipo_renda'],prefix='tipo_renda')
df_copia = pd.concat([df_copia,renda],axis=1)
estado_civil = pd.get_dummies(df_copia['estado_civil'],prefix='estado_civil')
df_copia = pd.concat([df_copia,estado_civil],axis=1)
educacao = pd.get_dummies(df_copia['educacao'],prefix ='educacao')
df_copia =pd.concat([df_copia,educacao],axis=1)

In [ ]:
df_copia = df_copia.drop('tipo_renda',axis=1)
df_copia = df_copia.drop('educacao',axis=1)
df_copia = df_copia.drop('estado_civil',axis=1)

In [73]:
df_copia.tempo_emprego = df_copia.tempo_emprego.astype(int)
df_copia.idade =df_copia.idade.astype(int)
df_copia.qt_pessoas_residencia = df_copia.qt_pessoas_residencia.astype(int)
df_copia.posse_de_imovel = df_copia.posse_de_imovel.astype(int)

In [66]:
df_copia = df_copia.drop('tipo_residencia',axis=1)

In [69]:
df_copia.sexo = df.sexo.map({'M':1,'F':0})
df_copia.posse_de_veiculo = df_copia.posse_de_veiculo.map({'Y':1,'N':0})
df_copia.posse_de_imovel = df_copia.posse_de_imovel.map({'Y':1,'N':0})

In [71]:
df_copia.dtypes

sexo                                        int64
posse_de_veiculo                          float64
posse_de_imovel                             int64
qtd_filhos                                  int64
idade                                       int64
tempo_emprego                               int64
possui_celular                              int64
possui_fone_comercial                       int64
possui_fone                                 int64
possui_email                                int64
qt_pessoas_residencia                       int64
mau                                          bool
tipo_renda_Commercial associate              bool
tipo_renda_Pensioner                         bool
tipo_renda_State servant                     bool
tipo_renda_Student                           bool
tipo_renda_Working                           bool
estado_civil_Civil marriage                  bool
estado_civil_Married                         bool
estado_civil_Separated                       bool
estado_civil_Single / not married            bool
estado_civil_Widow                           bool
educacao_Academic degree                     bool
educacao_Higher education                    bool
educacao_Incomplete higher                   bool
educacao_Lower secondary                     bool
educacao_Secondary / secondary special       bool
dtype: object

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [81]:
tabela_cruzada = pd.crosstab(df['possui_email'],df['posse_de_veiculo'])
print(tabela_cruzada)

posse_de_veiculo     N     Y
possui_email
0                 9341  5829
1                  837   643

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [82]:
df_copia.to_csv('preparação.csv',index=False)